/** {
    border: solid 1px red;
}*/

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

p {
    padding: 3px;
    margin: 3px;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.hero {
    color: #e5e7eb;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

.hero-text {
    width: 50%;
    padding: 20px 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    background-color:#5b6068
    
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header ul li {
    margin: 10px;
}

.information {
    text-align: center;
    padding: 0 200px;
    font-weight: bold;
    font-size: 32px;
    color:#1f2937
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    width: 150px;
    font-size: 16px;
    font-weight: 500;
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: solid 4px #3882f6;
}

.quote {
    padding: 0 200px;
}

.sign-up {
    padding: 0 200px;
}

.footer {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 25px;
}